body {
}


/* Page lay-out*/
.container-fluid{
  width: 80%;
}
.shiny-input-container:not(.shiny-input-container-inline){
  width: 100%;
}


/* Inputs*/
.inputContainer{
  display: flex;
  padding: 19px;
  background-color: #4e5d6c;
  margin: 10px;
}

.selectize-control .selectize-input {
  max-height: 35px;
  overflow-y: auto;
}

.irs-grid-pol{
  opacity: 1 !important;
}

.irs-grid-text{
  color: #fff !important;
}

.irs-min{
  color: #fff !important;
}

.irs-max{
  color: #fff !important;
}

.slider-animate-container{
  font-size: 28px;
  opacity: 1;
  text-align: left;
  margin-top: -50px;
  margin-left: -40px;
}

.slider-animate-button{
  opacity: 1;
}

#submitCountry:hover{
  background-color: #77c477;
}

.play{
  color: #5cb85c;
}
.play:hover{
  color: #77c477;
}

#GitHub, #LinkedIN{
  color: #ebebeb;
}

a{
  color: #5cb85c;
}

/* Table lay-out*/
#table{
  height: 100% !important;
  background-color: red;
}

#divTable{
 border-left: 1px solid black;
 border-right: 1px solid black;
 border-top: 1px solid black;
}

#cellCont-iso_alpha_2{
text-align: center;
}

.head{
  background-color: #2b3e50;
  padding: 5px;
  border-bottom: 0.5px solid black;
  color: #ebebeb;
}

.column{
  background-color: rgb(235, 235, 235);
}

.cellContainer{
  padding: 0;
  margin: 0;
}

.column-text{
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  white-space: nowrap;
}

.column-bar{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  white-space: nowrap;
}

.cell{
  padding: 3px;
  border-bottom: 0.5px solid;
  white-space: nowrap;
}

.bar{
  padding: 3px;
  text-align: left;
  border-bottom: 0.5px solid;
}
