body {
}


/* Page lay-out*/
.container-fluid{
  width: 80%;
}
.shiny-input-container:not(.shiny-input-container-inline){
  width: 100%;
}


/* Inputs*/
.inputContainer{
  display: flex;
  padding: 19px;
  background-color: #4e5d6c;
  margin: 20px;
}

.selectize-control .selectize-input {
  max-height: 35px;
  overflow-y: auto;
}

.irs-grid-pol{
  opacity: 1 !important;
}

.irs-grid-text{
  color: #fff !important;
}

.irs-min{
  color: #fff !important;
}

.irs-max{
  color: #fff !important;
}

.slider-animate-container{
  font-size: 28px;
  opacity: 1;
  text-align: left;
  margin-top: -50px;
  margin-left: -40px;
}

.slider-animate-button{
  opacity: 1;
}

#submitCountry:hover{
  background-color: #77c477;
}

.play{
  color: #5cb85c;
}
.play:hover{
  color: #77c477;
}


a{
  color: #5cb85c;
}

/* Table lay-out*/
.head{
  color: green;
  padding: 3px;
  margin: 2px;
  border: 1px solid;
}
.column{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cell{
  padding: 3px;
  margin: 2px;
  border: 1px solid;
  white-space: nowrap;
}

.bar{
  padding: 3px;
  margin: 2px;
  width: 10px;
  text-align: right;
  border: 1px solid;
}
